In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [12]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
column_names = {'T1': 'Temp_Kitchen_Area', 'RH_1': 'Humidity_Kitchen_Area', 
                'T2': 'Temp_Living_Room_Area','RH_2': 'Humidity_Living_Room_Area',
                'T3': 'Temp_Laundry_Room_Area', 'RH_3': 'Humidity_Laundry_Room_Area',
                'T4': 'Temp_Office_Room', 'RH_4': 'Humidity_Office_Room',
                'T5': 'Temp_Bathroom', 'RH_5': 'Humidity_Bathroom',
                'T6': 'Temp_Outside_Building', 'RH_6': 'Humidity_Outside_Building',
                'T7': 'Temp_Ironing_Room', 'RH_7': 'Humidity_Ironing_Room',
                'T8': 'Temp_Teenager_Room', 'RH_8': 'Humidity_Teenager_Room',
                'T9': 'Temp_Parent_Room', 'RH_9': 'Humidity_Parent_Room',
                'T_out': 'Temp_Outside', 'RH_out': 'Humidity_Outside',
                'rv1': 'Random_Variable_1', 'rv2': 'Random_Variable_2'}
df = df.rename(columns=column_names)
df.head()

,date,Appliances,lights,Temp_Kitchen_Area,Humidity_Kitchen_Area,Temp_Living_Room_Area,Humidity_Living_Room_Area,Temp_Laundry_Room_Area,Humidity_Laundry_Room_Area,Temp_Office_Room,...,Temp_Parent_Room,Humidity_Parent_Room,Temp_Outside,Press_mm_hg,Humidity_Outside,Windspeed,Visibility,Tdewpoint,Random_Variable_1,Random_Variable_2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [35]:
df = df[['Temp_Living_Room_Area', 'Temp_Outside_Building']].copy()
print(df.head())

   Temp_Living_Room_Area  Temp_Outside_Building
0                   19.2               7.026667
1                   19.2               6.833333
2                   19.2               6.560000
3                   19.2               6.433333
4                   19.2               6.366667

In [37]:
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
T2 = normalised_df.drop(columns=['Temp_Outside_Building'])
T6 = normalised_df['Temp_Outside_Building']

In [39]:
x_train, x_test, y_train, y_test = train_test_split(T2,T6, test_size = 0.3, random_state=42)

linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)

In [40]:
#R squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [42]:
predicted_values = linear_model.predict(x_test)
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [45]:
#RSS
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

66.12

In [46]:
#RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [49]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [50]:
#New RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106